---
---

@import "{{ site.theme }}";

h1, h2 {
  font-family: 'Sen', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.release-licence-doi .badge img {
  margin-top: 2rem;
}

.badge + .badge {
  margin-left: 1rem;
}
